/* .watermark {
    position: relative;
}

.watermark:after {
    content: "";
    display: block;
    pointer-events: none;
    width: 210px;
    height: 150px;
    position: absolute;
    top: 0px;
    right: 30px;
    background-image: url('https://cdn.iconscout.com/icon/premium/png-256-thumb/cat-131-378998.png');
    background-size: auto;
    background-position: 30px 30px;
    background-repeat: no-repeat;
    opacity: 0.1;
} */

.watermark {
    /* Used to position the watermark */
    position: relative;
}

.watermark__inner {
    /* Center the content */
    align-items: center;
    display: flex;
    justify-content: center;

    /* Absolute position */
    left: 0px;
    position: absolute;
    top: 0px;

    /* Take full size */
    height: 100%;
    width: 100%;
}

.watermark__body {
    /* Text color */
    color: rgba(0 0 0 / 18%);

    /* Text styles */
    font-size: 3rem;
    font-weight: bold;
    text-transform: uppercase;

    /* Rotate the text */
    transform: rotate(0deg);

    /* Disable the selection */
    user-select: none;
}